
<div class="login" ng-controller="UserLoginController">
  <particle></particle>
  <div class="login_head" id="login_head">
    该平台仅支持ie9以上浏览器，使用chrome效果更佳
  </div>
  <div class="login-widget">
    <header class="text-center">
      <!--<img src="/images/logo4.png" style="height: 100px; width: 200px" />-->
    </header>
    <div class="form-group login_button_top">
      <button type="submit" class="btn btn-lg btn-primary btn-block login-btn"  ng-click="userLoginForm()">登　　录</button>
    </div>
  </div>
</div>
